.product-ancor {
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transform: scale(0); 
}

.card:hover img:first-child {
  opacity: 0;
  transform: scale(0);
}

.card:hover img:last-child {
  opacity: 1;
  transform: scale(1);
}

.card:hover .footer-widget {
  opacity: 1;
  transform: translateX(0);
}

.footer-widget {
  position: absolute;
  right: 3%;
  bottom: 0px;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer-widget ul {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.footer-widget ul li {
  background-color: white;
  width: fit-content;
  padding: 15px;

}